@{
    ViewBag.Title = "Over ons";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>BANG! is een evenementenbureau dat pubquizzen en uitvoeringen van muziek top-100s organiseert in bars, cafés en theaters. Iedereen kent het concept van een pubquiz of bijvoorbeeld het stemmen op een muzieklijst wel. Het doel van BANG! is het organiseren van dit concept op verschillende locaties met een geweldige ervaring voor de deelnemers.</p>
