@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Evenementenbureau BANG!<br />
    Arnhem, Ruitenberglaan 26 6666AA<br />
    <abbr title="Phone">Telefoon:</abbr>
    02612312312
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">evenementen@bang.nl</a><br />
    <strong>Beheerder</strong> <a href="mailto:Marketing@example.com">iseproject14han@gmail.com</a>
</address>