@model QuizApp.Models.Thema

@{
    ViewBag.Title = "Details";
}

<h2>Thema details </h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Thema_Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Thema_Naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ThemaID }) |
    @Html.ActionLink("Terug", "Index")
</p>
